@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary-color: #4e5bee;
  --secondary-color: #ff5757;
  --gray-color: #f8f8f8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.content {
  display: grid;
  grid-template-columns: 30vw 70vw;
}
.content img {
  margin-top: 80px;
  width: 220px;
}
.form {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form input {
  margin: 10px 0;
  width: 250px;
  padding: 10px 40px;
  color: #fff;
  background: url(../assets/@.svg) no-repeat;
  background-position: 10px;
  border: 2px solid var(--gray-color);
  border-radius: 10px;
  outline: none;
}
.form input:nth-child(2) {
  background: url(../assets/lock-24px.svg) no-repeat;
  background-position: 10px;
}

.form button {
  width: 250px;
  padding: 10px 30px;
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
  background: var(--gray-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms;
}
.form button:hover{
  background: #dad6d6;
}

.image {
  width: 100%;
  height: 100vh;
  background: url(../assets/undraw_interview_rmcf.svg) no-repeat center / cover;
}
.content div{
    text-align: center;
}
.content div p,.content div a {
font-size: clamp(12px,14px,16px);
color: #FFFFFF;

}
@media(max-width:1024px){
  
  .content{
    display: grid;
    grid-template-columns: 40vw 60vw;
    height: 100vh;
   
  }
}
@media(max-width:800px){
  
  .content{
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 100vh;
   
  }
}
@media(max-width:600px){
  .image{
    display: none;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
   
  }
  
}